body{
    background-color: #4f6f51;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.card{
    padding-left: 10px;
    background-color: #d3e3ca;
    width: 220px;
    height: 230px;
    border-radius: 5px;
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
