*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightsalmon;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes preloader {
    from{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(1.2);
    }
    to{
        transform: rotate(360deg) scale(1);
    }
}

.circle-border {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(#ff6b6b, #5f27cd, #54a0ff, #ff6b6b);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: preloader 3s linear infinite;
}

.circle-inner {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: lightsalmon;
}