*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}

.products_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

h1{
    text-align: center;
    padding: 15px 0;
}

hr{
    margin: 5px 20px;
    color: black;
}
.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 300px;
    border-radius: 25px;
    border: solid;
    gap: 10px;
}

.product img{
    height: 150px;
}
.product p{
    font-size: 25px;
    font-weight: bold;
}

body h2{
    text-align: center;
}